*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

/* header */

.container,header{
  max-width: 1100px;
  min-width: 350px;
  margin: 40px auto;
}

.title{
  color: rgb(229, 49, 112);
  text-align: center;
  padding-bottom: 20px;
  font-weight: 900;
}

header p{
  text-align: center;
  font-size: 0.9rem;
}
/* /header */

/* main */

/* block id suddivision dimension  */
.id-block{
  width: 350px;
  color: white;
  background-color: black;
  margin: 0  0 40px 15px;
  border: 5px solid rgba(255, 255, 255, 0.96);
  border-radius: 4px;
}


.details{
  padding: 10px 0 0 15px;
}

/*padding from name role and details */
.name,
.role,
.details a{
  padding-bottom: 5px;
}

.img-profile img{
  height: 84px;
  display: block;
}

.float-left{
  float: left;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

/* uppercase for all names */
.name{
  text-transform: uppercase;
  font-weight: bold;
}

.role{
  font-size: 0.8rem;
}

.email{
  text-decoration: none;
  text-transform: lowercase;
  color: rgb(77, 204, 242);
}
/* /main */