*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

/* header */
header{
  width: 70%;
  max-width: 1200px;
  margin: 30px auto;
}

.title{
  color: rgb(229, 49, 112);
  text-align: center;
  padding-bottom: 20px;
}

header p{
  text-align: center;
  font-size: 0.9rem;
}
/* /header */

/* main */
.container{
  width: 70%;
  margin: 40px auto;
}

/* block id suddivision dimension  */
.id-block{
  width: calc(100% / 3 - 20px);
  color: white;
  background-color: black;
  margin: 0  0 40px 15px;
  border: 5px solid rgba(255, 255, 255, 0.96);
  border-radius: 4px;
}


.details{
  display: inline-block;
  padding: 10px 0 0 15px;
}

/*padding from name role and details */
.name,
.role,
.details a{
  padding-bottom: 5px;
}

.img-profile img{
  height: 84px;
}

.float-left{
  float: left;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

/* uppercase for all names */
.name{
  text-transform: uppercase;
  font-weight: bold;
}

.role{
  font-size: 0.8rem;
}

.email{
  text-decoration: none;
  text-transform: lowercase;
  color: rgb(77, 204, 242);
}
/* /main */